<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ypcxpt.fish.core">

    <!-- 使用蓝牙所需要的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 使用扫描和设置蓝牙的权限（申请该权限必须同时申请上面权限） -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
