<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ypcxpt.fish">

    <!--============================JPush permission Start(去重)================================-->
    <!-- Required -->
    <permission
        android:name="com.ypcxpt.fish.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.ypcxpt.fish.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--===============================JPush permission End===================================-->

    <!-- 使用蓝牙所需要的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 使用扫描和设置蓝牙的权限（申请该权限必须同时申请上面权限） -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--======NET========-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--======STORAGE========-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--======CAMERA========-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.ypcxpt.fish.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/CommonAppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ypcxpt.fish.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.ypcxpt.fish.login.view.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.ypcxpt.fish.library.view.activity.SchemeFilterActivity"
            android:screenOrientation="portrait" >
            <!--Own Scheme Links-->
            <intent-filter>
                <data
                    android:host="${HOST}"
                    android:port="${PORT}"
                    android:scheme="Reead"
                    tools:ignore="AppLinkUrlError" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!--Http Links-->
            <intent-filter>
                <data
                    android:host="${HOST}"
                    android:port="${PORT}"
                    android:scheme="http" />

                <data
                    android:host="${HOST}"
                    android:port="${PORT}"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <activity android:name="com.ypcxpt.fish.login.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.login.view.activity.BindActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.login.view.activity.AdvertisingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.login.view.activity.AdvertisingDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.EditUserProfileActivity"
            android:screenOrientation="portrait" />

        <!--新加的按摩椅界面-->
        <activity android:name="com.ypcxpt.fish.device.view.activity.T100DeviceDetailActivity"
            android:screenOrientation="portrait" />
        <!--设备管理-->
        <activity android:name="com.ypcxpt.fish.main.view.activity.DeviceManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.DeviceManagerDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.EditFeedbackActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.ypcxpt.fish.main.view.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.main.view.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ypcxpt.fish.sonic.BrowserActivity"
            android:screenOrientation="portrait" />

        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />

        <!--微信登录配置 start-->
        <activity
            android:name="com.ypcxpt.fish.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ypcxpt.fish" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.ypcxpt.fish.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.ypcxpt.fish" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.ypcxpt.fish.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.ypcxpt.fish" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.ypcxpt.fish.jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ypcxpt.fish" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="com.ypcxpt.fish.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.ypcxpt.fish"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="62cc040f209485f9fe7fbf7a" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>
</manifest>
